.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  vertical-align: -0.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1e4e4;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #302424;
}

.App-header h1{
  margin-bottom: 0.1em;
}

.App-header h3 {
  color: #5a45455e;
  margin-top: 0em;
}
.App-link {
  color: #61dafb;
}

.column {
  flex: 50%;
}

.row {
  display: flex;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #302424;
  background-color: #f1e4e4;
}

footer p {
  margin: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
