.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    width: 95%;
    padding: 0.5rem 0 0.5rem 0;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.link {
    color: #61dafb;
}

div p:not(.name){
    margin: 0rem;
}

p.name {
    margin: 0.3rem;
}

div.list_restaurant h4 {
    margin-bottom: 0rem;
    font-size: 1.4rem;
}